node_modules/*
.env
database/attendance.json
database/greeting.json
.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/edge-server-development/0.pack.gz
.next/cache/webpack/edge-server-development/1.pack.gz
.next/cache/webpack/edge-server-development/index.pack.gz
.next/cache/webpack/edge-server-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/edge-runtime-webpack.js
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/middleware.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/api/greeting/route.js
.next/server/static/webpack/633457081244afec._.hot-update.json
.next/server/vendor-chunks/@fontsource.js
.next/server/vendor-chunks/@radix-ui.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/aria-hidden.js
.next/server/vendor-chunks/asynckit.js
.next/server/vendor-chunks/axios.js
.next/server/vendor-chunks/class-variance-authority.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/combined-stream.js
.next/server/vendor-chunks/debug.js
.next/server/vendor-chunks/delayed-stream.js
.next/server/vendor-chunks/embla-carousel-react.js
.next/server/vendor-chunks/embla-carousel-reactive-utils.js
.next/server/vendor-chunks/embla-carousel.js
.next/server/vendor-chunks/follow-redirects.js
.next/server/vendor-chunks/form-data.js
.next/server/vendor-chunks/get-nonce.js
.next/server/vendor-chunks/lodash.js
.next/server/vendor-chunks/lucide-react.js
.next/server/vendor-chunks/mime-db.js
.next/server/vendor-chunks/mime-types.js
.next/server/vendor-chunks/moment.js
.next/server/vendor-chunks/ms.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/proxy-from-env.js
.next/server/vendor-chunks/react-hook-form.js
.next/server/vendor-chunks/react-icons.js
.next/server/vendor-chunks/react-intersection-observer.js
.next/server/vendor-chunks/react-remove-scroll-bar.js
.next/server/vendor-chunks/react-remove-scroll.js
.next/server/vendor-chunks/react-style-singleton.js
.next/server/vendor-chunks/swr.js
.next/server/vendor-chunks/tailwind-merge.js
.next/server/vendor-chunks/tailwindcss-animate.js
.next/server/vendor-chunks/tslib.js
.next/server/vendor-chunks/use-callback-ref.js
.next/server/vendor-chunks/use-sidecar.js
.next/server/vendor-chunks/use-sync-external-store.js
.next/server/vendor-chunks/zod.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/Arizonia-Regular.e4073c40.ttf
.next/static/media/averia-serif-libre-latin-400-italic.9fa21518.woff2
.next/static/media/averia-serif-libre-latin-400-italic.3812f0c0.woff
.next/static/media/averia-serif-libre-latin-400-normal.6e70ac48.woff2
.next/static/media/averia-serif-libre-latin-400-normal.9e64674d.woff
.next/static/media/berkshire-swash-latin-400-normal.4ba46d31.woff
.next/static/media/berkshire-swash-latin-400-normal.253833df.woff2
.next/static/media/berkshire-swash-latin-ext-400-normal.02d8820e.woff2
.next/static/media/berkshire-swash-latin-ext-400-normal.13ce8527.woff
.next/static/media/BrittanySignature.f1951219.ttf
.next/static/media/Cardo-Bold.26df5621.ttf
.next/static/media/Cardo-Regular.2ef25396.ttf
.next/static/media/Cormorant-VariableFont_wght.22ae385d.ttf
.next/static/media/GalleryModern.e217c035.otf
.next/static/media/Italiana-Regular.3e9904c7.ttf
.next/static/media/Poppins-ExtraBold.7572a9b5.ttf
.next/static/media/poppins-latin-400-italic.0576f4f4.woff2
.next/static/media/poppins-latin-400-italic.22616b12.woff
.next/static/media/poppins-latin-400-normal.916d3686.woff2
.next/static/media/poppins-latin-400-normal.cbe785df.woff
.next/static/media/poppins-latin-ext-400-italic.d9a14fe6.woff
.next/static/media/poppins-latin-ext-400-italic.fd203acb.woff2
.next/static/media/poppins-latin-ext-400-normal.56cb5e9c.woff2
.next/static/media/poppins-latin-ext-400-normal.fbcaaafb.woff
.next/static/media/Poppins-Regular.4b4ebe20.ttf
.next/static/webpack/2ab50ee06efd2beb.webpack.hot-update.json
.next/static/webpack/2ee8aa67cda119ba.webpack.hot-update.json
.next/static/webpack/5fc0703a47a40ed7.webpack.hot-update.json
.next/static/webpack/6ac255bc480e278b.webpack.hot-update.json
.next/static/webpack/8a69b0c4cf38334a.webpack.hot-update.json
.next/static/webpack/25dec892ef1b86f7.webpack.hot-update.json
.next/static/webpack/37c901bdebfd22db.webpack.hot-update.json
.next/static/webpack/49eab3c1c71f1453.webpack.hot-update.json
.next/static/webpack/77cf2d7092ca0ab4.webpack.hot-update.json
.next/static/webpack/8180a5d3a288a054.webpack.hot-update.json
.next/static/webpack/80614b870f7cee26.webpack.hot-update.json
.next/static/webpack/154075a490b8b1da.webpack.hot-update.json
.next/static/webpack/6440430b9c3c7b51.webpack.hot-update.json
.next/static/webpack/36503332f03acf0f.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/b0ea90a7b768dc10.webpack.hot-update.json
.next/static/webpack/b15b1670e2a262b9.webpack.hot-update.json
.next/static/webpack/d6c28802e5761510.webpack.hot-update.json
.next/static/webpack/db2cc2a379d0202f.webpack.hot-update.json
.next/static/webpack/e4d4edf39a11e901.webpack.hot-update.json
.next/static/webpack/ea167cdc8cc1900b.webpack.hot-update.json
.next/static/webpack/fa004ba05c41b226.webpack.hot-update.json
.next/static/webpack/webpack.2ab50ee06efd2beb.hot-update.js
.next/static/webpack/webpack.2ee8aa67cda119ba.hot-update.js
.next/static/webpack/webpack.5fc0703a47a40ed7.hot-update.js
.next/static/webpack/webpack.6ac255bc480e278b.hot-update.js
.next/static/webpack/webpack.8a69b0c4cf38334a.hot-update.js
.next/static/webpack/webpack.25dec892ef1b86f7.hot-update.js
.next/static/webpack/webpack.37c901bdebfd22db.hot-update.js
.next/static/webpack/webpack.49eab3c1c71f1453.hot-update.js
.next/static/webpack/webpack.77cf2d7092ca0ab4.hot-update.js
.next/static/webpack/webpack.8180a5d3a288a054.hot-update.js
.next/static/webpack/webpack.80614b870f7cee26.hot-update.js
.next/static/webpack/webpack.154075a490b8b1da.hot-update.js
.next/static/webpack/webpack.6440430b9c3c7b51.hot-update.js
.next/static/webpack/webpack.36503332f03acf0f.hot-update.js
.next/static/webpack/webpack.b0ea90a7b768dc10.hot-update.js
.next/static/webpack/webpack.b15b1670e2a262b9.hot-update.js
.next/static/webpack/webpack.d6c28802e5761510.hot-update.js
.next/static/webpack/webpack.db2cc2a379d0202f.hot-update.js
.next/static/webpack/webpack.e4d4edf39a11e901.hot-update.js
.next/static/webpack/webpack.ea167cdc8cc1900b.hot-update.js
.next/static/webpack/webpack.fa004ba05c41b226.hot-update.js
.next/static/webpack/app/layout.2ab50ee06efd2beb.hot-update.js
.next/static/webpack/app/layout.2ee8aa67cda119ba.hot-update.js
.next/static/webpack/app/layout.5fc0703a47a40ed7.hot-update.js
.next/static/webpack/app/layout.6ac255bc480e278b.hot-update.js
.next/static/webpack/app/layout.8a69b0c4cf38334a.hot-update.js
.next/static/webpack/app/layout.25dec892ef1b86f7.hot-update.js
.next/static/webpack/app/layout.37c901bdebfd22db.hot-update.js
.next/static/webpack/app/layout.77cf2d7092ca0ab4.hot-update.js
.next/static/webpack/app/layout.8180a5d3a288a054.hot-update.js
.next/static/webpack/app/layout.80614b870f7cee26.hot-update.js
.next/static/webpack/app/layout.6440430b9c3c7b51.hot-update.js
.next/static/webpack/app/layout.36503332f03acf0f.hot-update.js
.next/static/webpack/app/layout.b0ea90a7b768dc10.hot-update.js
.next/static/webpack/app/layout.b15b1670e2a262b9.hot-update.js
.next/static/webpack/app/layout.d6c28802e5761510.hot-update.js
.next/static/webpack/app/layout.db2cc2a379d0202f.hot-update.js
.next/static/webpack/app/layout.e4d4edf39a11e901.hot-update.js
.next/static/webpack/app/layout.fa004ba05c41b226.hot-update.js
.next/static/webpack/app/page.2ab50ee06efd2beb.hot-update.js
.next/static/webpack/app/page.2ee8aa67cda119ba.hot-update.js
.next/static/webpack/app/page.5fc0703a47a40ed7.hot-update.js
.next/static/webpack/app/page.6ac255bc480e278b.hot-update.js
.next/static/webpack/app/page.37c901bdebfd22db.hot-update.js
.next/static/webpack/app/page.49eab3c1c71f1453.hot-update.js
.next/static/webpack/app/page.77cf2d7092ca0ab4.hot-update.js
.next/static/webpack/app/page.8180a5d3a288a054.hot-update.js
.next/static/webpack/app/page.80614b870f7cee26.hot-update.js
.next/static/webpack/app/page.154075a490b8b1da.hot-update.js
.next/static/webpack/app/page.36503332f03acf0f.hot-update.js
.next/static/webpack/app/page.b0ea90a7b768dc10.hot-update.js
.next/static/webpack/app/page.b15b1670e2a262b9.hot-update.js
.next/static/webpack/app/page.d6c28802e5761510.hot-update.js
.next/static/webpack/app/page.e4d4edf39a11e901.hot-update.js
.next/static/webpack/app/page.ea167cdc8cc1900b.hot-update.js
.next/static/webpack/app/page.fa004ba05c41b226.hot-update.js
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/api/greeting/route.ts
